:root {
    font-family: 'ZuehlkeFont', sans-serif !important;
    color: var(--primary);
    --secondary: rgb(131, 79, 135);
    --primary: rgb(38, 38, 38);
    --tertiary: rgb(255, 130, 10);
    --quaternary: rgb(88, 160, 190);
    --quinary: rgb(165, 165, 165);
    --pieceField: rgb(131, 79, 135);
    --kingField: rgb(22, 159, 233);
    --emptyField: rgba(131, 79, 135, 0.78);
    --attacker: rgb(0, 0, 0);
    --defender: rgb(255, 255, 255);

    --animation-primary: rgb(255, 130, 10);
    --animation-secondary: rgb(210, 100, 8);
    --animation-tertiary: rgb(180, 80, 6);
    --animation-quaternary: rgb(150, 60, 4);
    --animation-quinary: rgb(130, 40, 2);
}

a, h2, h3, h4, h5 {
    color: var(--primary);
}

h1 {
    color: var(--secondary);
}

a:hover {
    color: var(--secondary);;
}

@font-face {
    font-family: "ZuehlkeFont";
    src: local("ZuehlkeFont"),
    url("./assets/AAZuehlke.ttf") format("truetype");
}

.text_bit_animation {
    text-align: center;
    color: var(--animation-primary);
    animation: shadows 2.0s ease-in 1, move 2.0s ease-in 1;
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 2px 2px 0 var(--animation-secondary);
    }
    20% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary);
    }
    30% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary), 6px 6px var(--animation-quaternary);
    }
    40% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary), 6px 6px var(--animation-quaternary),
        8px 8px 0 var(--animation-quinary);
    }
    50% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary), 6px 6px var(--animation-quaternary),
        8px 8px 0 var(--animation-quinary);
    }
    60% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary), 6px 6px var(--animation-quaternary),
        8px 8px 0 var(--animation-quinary);
    }
    70% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary), 6px 6px var(--animation-quaternary);
    }
    80% {
        text-shadow: 2px 2px 0 var(--animation-secondary),
        4px 4px 0 var(--animation-tertiary);
    }
    90% {
        text-shadow: 2px 2px 0 var(--animation-secondary);
    }
    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(-8px, -8px);
    }
    50% {
        transform: translate(-8px, -8px);
    }
    60% {
        transform: translate(-8px, -8px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
